<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Verification</title>
</head>
<body style="margin: 0; padding: 30px auto; font-family: Arial, sans-serif; background-color: #f4f6f8; color: #333;">
  <table style="width: 100%; height: 100vh; background-image: url('{{serverUrl}}/bg.png'); background-size: cover; background-position: center; padding: 3rem;">
    <tr>
      <td style="width: 100%; text-align: left; padding-bottom: 3rem;">
        <img src="{{serverUrl}}/logo.png" alt="logo" width="150px" style="display:block;margin-left:2rem">
      </td>
    </tr>
    <tr>
      <td style="display: table-cell; vertical-align: middle;">
        <table style="width: 100%; max-width: 600px; margin: 0 auto; background-color: white; border-radius: 8px; padding: 2rem 1.5rem; text-align: center; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
          <tr>
            <td>
              <h1 style="margin-top: 1.75rem; font-family: Poppins; font-weight: 700; color: #000;">Thank You!</h1>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem;">Hi {{name}},</td>
          </tr>
          <tr>
            <td style="padding-top: 1rem; font-size: 1rem;">
              Thank you for registering with Euthyna.ai!<br />
              We're excited to have you on board.<br /><br />
              To complete your registration, please confirm your email address by<br />
              clicking the button below:
            </td>
          </tr>
          <tr>
            <td style="padding-top: 2rem;">
              <a href="{{verificationUrl}}" target="_blank" style="text-decoration: none; border-radius: 1rem; padding: 0.75rem 1.5rem; font-weight: 500; background-color: rgba(198, 225, 251, 1); color: #003366; display: inline-block; border: 1px solid #003366; text-align: center;">
                Confirm Your Email Address
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 2rem; font-size: 1rem;">
              If the above link doesn't work, copy and paste the following URL into your web browser:<br />
              <a href="{{verificationUrl}}" style="text-decoration: none; color: #007bff;">{{verificationUrl}}</a>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 2rem; font-weight: 700; color: #000;">
              Why do I need to confirm my email?
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem; font-size: 1.2rem;">
              Confirming your email helps us ensure that we have the correct contact information and allows you to fully access all features of Euthyna.
            </td>
          </tr>
          <tr>
            <td style="padding-top: 2rem;">
              <hr style="width: 100%; border: 1px solid #dee2e6;" />
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem; color: #9CA0A8; font-size: 0.875rem;">
              If you have any questions, feel free to message us at
              <b style="color: black;">support@Euthyna.ai</b>. All rights reserved. Update email preferences or unsubscribe.
            </td>
          </tr>
          <tr>
            <td style="padding-top: 1rem; font-size: 0.875rem;">
              <a style="color: #9CA0A8" href="mailto:info@euthyna.ai">Customer Support</a>&emsp;|&emsp;
              <a style="color: #9CA0A8" href="https://euthyna.ai/terms-and-conditions/">Terms of use</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
